alembic==0.8.4
decorator==4.0.9
dominate==2.1.16
Flask==0.10.1
Flask-Bootstrap==3.3.5.7
Flask-Migrate==1.7.0
Flask-Moment==0.5.1
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.12
gunicorn==19.4.5
itsdangerous==0.24
Jinja2==2.8
Mako==1.0.3
MarkupSafe==0.23
python-editor==0.5
SQLAlchemy==0.7.0
sqlalchemy-migrate==0.7.2
Tempita==0.5.2
visitor==0.1.2
Werkzeug==0.11.3
wheel==0.26.0
WTForms==2.1
